/* adds style the html body and map div objects */
html, body{width:100%; height:100%; padding: 0; margin: 0; background: #999999; overflow:hidden;}

#left_hand_side{
	background-color: #63aec1;
	width: 70%;
	height: 100%;
	padding: 0;
	margin: 0;
	float: left;
	overflow-y: auto;
	overflow-x: hidden;	
	position: relative;
}

#right_hand_side {
	width: 30%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #BBBBBB;
	position: relative;
}

/* Formatting for all number-entry boxes */
input[type=number] {
	background-color: #DDDDDD;
	padding-left: 4px;
	border: 2px solid #999999;
	border-radius: 5px;
	width: 38px;
	margin-left: 10px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-appearance: textfield; /* Gets rid of spinner arrows in firefox. 
									the next block does this for other browsers */
}

input:focus:invalid {
	background-color: #ff7575;
	border: 2px solid #ff2222;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(250,0,0,0.95);
	box-shadow: 2px 2px 5px 0px rgba(250,0,0,0.95);
}

/* Removes the spinner-arrows from number-input boxes
	in all browers except for firefox. see above for FF... */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type=text] {
	background-color: #DDDDDD;
	padding-left: 4px;
	border: 2px solid #999999;
	border-radius: 5px;
	width: 200px;
	margin-left: 10px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-appearance: textfield; /* Gets rid of spinner arrows in firefox. 
									the next block does this for other browsers */	
}

input[type=radio] {
	margin-left: 40px;
	margin-top: 12px;
	background-color: red;
}



/* Formatting for the input labels, headers, and instruction text	 */
label, h1, h3, p, button, iframe {
	margin-left: 10px;	
	padding-right: 10px;
	margin-bottom: 20px;
}

.error_lbl {
	display: inline-block;
	position: relative`;
	background-color: #ff7575;
	margin-left: 16px;
	margin-top: 4px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	line-height: 0px;
	border: 2px solid #ff2222;
	border-radius: 5px;	
}

.error_lbl.hidden {
	visibility: hidden;
	border = 0px;
}

.error_lbl  p {
	
	position: relative;
	color: #000000;
	top:0px;
	
}

select {
	background-color: #DDDDDD;
	padding-left: 2px;
	border: 2px solid #999999;
	border-radius: 5px;	
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
		
}

input[type="checkbox"] {
	margin-left: 40px;
	margin-top: 12px;
	background: #777777;
	
	
}	

.extra_input {
	display: inline-block;
	margin-left: 20px;
}

.output_number {
	display: inline-block;
	padding: 8px;
	margin: 20px;
	font-size: 18px;
	border: 2px solid ;
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.1);
	width: 70%
}

.return_num {
	font-size: 72px;
	
}

table.inventory_table, th, td {

	font-weight: normal;
	border: 1px solid #000000;
	border-collapse: collapse;
	
}

th {
	padding: 4px;
}

table.inventory_table {
	margin-top: 20px;
	background-color: #DDDDDD;
	position: relative;
}

tr.title_row, th.month_lbl {
	background-color: #BBBBBB;
}

tr:hover {
	background-color: #f5f5f5
}

tr.title_row:hover{
	background-color: #BBBBBB;
}

.display_grid {
	border: none;
	background: none;
}

.display_grid:hover {
	background: none;
}

th.display_grid {
	width: 30%;
}

.to_indent {
	margin: 12%;
	width: 76%;
	border: 2px solid;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 15px;
}

.res_title {
	font-size: 48px;	
}

button {
	width: 240px;	
	height: 40px;
	border-radius: 5px;
	border: 2px solid #999999;
	background-color: #DDDDDD;
	font-size: 18px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	margin-bottom: 40px;
}	

#calc_button {
	width: 160px;
	margin-left: 10px;

}

.display-stuff {
	float: left;
	left: 16px;
	position: absolute;
}

#RHS_big {
	display: block-inline;
	height: 100%;
}

#LHS_display {
	position: relative;
	height: 100%;
	float: left;
	top: 0px;
	overflow-y: scroll;
	overflow-x: hide;
}
	

div[name=big_disp] {
	width: 90%;
	margin: auto;
	padding: auto;
}

.footer {
	position: fixed;
	z-index: 100000;
	bottom: 0px;
	right: 25px;
	height: 16px;
	background-color: rgba(255,255,255,0.5);
	padding: 5px;
	font-size: 12.5px;
}

.caminos_logo {
	position: relative;
	float: right;
	right: 25px;
	height: 120px;
	width: 120px;
}

#yes_or_no{
	height: 80%;
	width: 80%;
	margin-top: 20%;
	margin-bottom: 10%;
	padding-bottom: 0px;
}

