/* adds style the html body and map div objects */
html, body{width:100%; height:100%; padding: 0; margin: 0; background: #999999; overflow:hidden;}

#left_hand_side{
	background-color: #abcdef;
	width:70%;
	height: 100%;
	padding: 0;
	margin: 0;
	float: left;
	overflow-y: scroll;
	overflow-x: hidden;
	
}

#right_hand_side {
	width: 30%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: pink;
	
}

/* Formatting for all number-entry boxes */
input[type=number] {
	background-color: #DDDDDD;
	padding-left: 4px;
	border: 2px solid #999999;
	border-radius: 8px;
	width: 40px;
	margin-left: 10px;
}

/* Removes the scroll-arrows from number-input boxes
	in all browers except for firefox. Sorry FF... */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}


/* Formatting for the input labels, headers, and instruction text	 */
label.num, h1, h3, h5 {
	padding-left: 10px;	
	padding-right: 10px;
}



