/* adds style the html body and map div objects */
html, body, #everything{
	width:100%; 
	height:100%;
	margin: 0; 
	background: #999999; 
	overflow: hidden;	
	font-family: Tahoma, sans-serif;
	font-size: 16px;
}

#mobile_browser_display {
	background-color: #c9e9f2;    /*#63aec1*/
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 5px;
	margin: 0;
	float: left;
	overflow-y: auto;
	overflow-x: auto;	
	position: relative;
	-webkit-transition-property: width; /* Safari */
    -webkit-transition-duration: 1s; /* Safari */
    transition-property: width;
    transition-duration: 1s
}

#left_hand_side{
	background-color: #c9e9f2;    /*#63aec1*/
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	float: left;
	overflow-y: auto;
	overflow-x: auto;	
	position: relative;
	-webkit-transition-property: width; /* Safari */
    -webkit-transition-duration: 1s; /* Safari */
    transition-property: width;
    transition-duration: 1s
}

#right_hand_side {
	width: 0%;
	height: 100%;
	padding: 0px;
	margin: 0;
	overflow-x: auto;
	overflow-y: auto;
	background-color: rgb(230,230,230);
	position: relative;
	-webkit-transition-property: width; /* Safari */
    -webkit-transition-duration: 1s; /* Safari */
    transition-property: width;
    transition-duration: 1s;
	min-height: 100%;
}

/* Formatting for all number-entry boxes */
input[type=number] {
	background-color: #DDDDDD;
	padding-left: 4px;
	border: 2px solid #999999;
	border-radius: 5px;
	width: 38px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-appearance: textfield; /* Gets rid of spinner arrows in firefox. 
									the next block does this for other browsers */
}

input:focus:invalid {
	background-color: #ff7575;
	border: 2px solid #ff2222;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(250,0,0,0.95);
	box-shadow: 2px 2px 5px 0px rgba(250,0,0,0.95);
}

/* Removes the spinner-arrows from number-input boxes
	in all browers except for firefox. see above for FF... */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.number_input{
	margin: 10px;
	margin-bottom: 10px;
}

input[type=text] {
	background-color: #DDDDDD;
	padding-left: 4px;
	border: 2px solid #999999;
	border-radius: 5px;
	width: 200px;
	margin-left: 10px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-appearance: textfield; /* Gets rid of spinner arrows in firefox. 
									the next block does this for other browsers */	
}

input[type=radio] {
	margin-left: 40px;
	margin-top: 12px;
	background-color: red;
}

input[type="checkbox"] {
	margin-left: 40px;
	margin-top: 12px;
	background: #777777;
}

/* Formatting for the input labels, headers, and instruction text	 */
label, h1, h3, p, button, iframe {
	margin-left: 10px;	
	padding-right: 10px;
	margin-bottom: 20px;
	position: relative;
	
}

.headers {
	padding-right: 200px;
}

.tooltiptext {
	max-width: 70%;
	visibility: hidden;
    background-color: rgba(230,230,230,0.95);
    color: #000;
	font-size: 12px;
    text-align: left;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
	top: 0%;
	left: 0%;
	margin: 5px;
    z-index: 10;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip_img{
	height: 130px;
	width: 130px;
	visibility: hidden;
    background-color: rgba(230,230,230,0.95);
    color: #000;
	font-size: 14px;
    text-align: left;
    border-radius: 15px;
    padding: 5px;
    position: absolute;
	bottom: 0%;
	right: 0%;
	margin: 5px;
    z-index: 10;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip_roof:hover .tooltip_img {
    visibility: visible;
    opacity: 1;
}

.return_num {
	font-size: 2.75em;
	margin-top: -40px;
}

.to_indent {
	margin: 12%;
	width: 76%;
	border: 2px solid;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 15px;
	background-color: #63aec1;
	margin-top: 10px;
	margin-bottom: 10px;
}

button {
	width: 240px;	
	height: 40px;
	border-radius: 5px;
	border: 2px solid #999999;
	background-color: #DDDDDD;
	font-size: 18px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	margin: 0;
	margin-bottom: 40px;
}	

#calc_button {
	width: 160px;
	height: 80px;
	margin: 20px;
	
}

#LHS_display {
	position: relative;
	height: 100%;
	float: left;
	overflow-y: scroll;
	overflow-x: hide;
}

.footer {
	position: fixed;
	z-index: 100000;
	bottom: 0px;
	right: 25px;
	height: 16px;
	background-color: rgba(255,255,255,0.5);
	padding: 5px;
	font-size: 12.5px;
}

.caminos_logo_img {
	display: block;
	position: relative;
	height: 120px;
	width: 120px;
	float: left;
		
}

#caminos_logo {
	position: relative;
	float: right;
	right: 5px;
	z-index: 10;
	margin-top: 5px;

}

#caminos_logo2 {
	display: none;
	position: fixed;
	left: 10px;
	bottom: 10px;
	z-index: 10;
	opacity: 0.85;
}

#caminos_logo_mobile {
	display: inline-block;
	margin-top: 25px;
	
}

.outer_row {
	position: relative;
	background-color: rgba(0,0,0,0);
	display: inline-block;
	margin: 0;
	margin-top: 15px;
	overflow: hidden;
	height: 10em;
	width: 48em;
	/*font-family: , serif;*/
	font-size: 20px;
}

#left {
	background-color: #63aec1;
	display: inline-block;
    margin: 0;
	margin-left: 1%;
    position: absolute;
    top: 0;
	height: 95%;
	width: 32%;
	top: 50%;
	-ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
	float: left;
	left: 0%;	
	border: 2px solid black;
	border-radius: 8px;
}

#center {
	background-color: #63aec1;
	border: 2px solid black;
	display: inline-block;
    margin: 0;
    position: absolute;
    top: 0;
	height: 95%;
	width: 32%;
	top: 50%;
	-ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
	float: left;
	left: 34%;
	border: 2px solid black;
	border-radius: 8px;
}

#right {
	background-color: #63aec1;
	display: inline-block;
    margin: 0;
	margin-right: 1%;
    position: absolute;
    top: 0;
	height: 95%;
	width: 32%;
	top: 50%;
	-ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
	float: left;
    left: 67%;
	border: 2px solid black ;
	border-radius: 8px;
}

.results_headers {
	font-size: 32px;
	/*text-decoration: underline;*/
	margin-top: 15px;
}

#min_header {
	margin-top: 20px;
}


#top_box {
	height: 17em;
}
#bottom_box {
	margin-bottom: 20px;
}

.text_in_center {
	-ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	position: absolute; 
	top: 50%;
	left: 50%;
	width: 100%;
}

#form_box {
	text-align: left;
	display: inline-block;
	background-color: #63aec1; 
	position: relative; 
	border: 2px black solid; 
	border-radius: 15px;
	margin-bottom: 30px;
	padding: 30px;
	padding-top: 15px;
}

#form_box_left {
	position: relative; 
	float: left; 
	display: inline-block;
	border: 2px solid black;
	border-radius: 15px;
}

#full_box_right {
	position: relative; 
	float: left;
	display: inline-block;
}

#form_box_right {
	position: relative; 
	float: left;
	display: inline-block;
	border: 2px solid black;
	border-radius: 15px;
	margin-left: 30px;
}

#instructions {
	display: block;
	position: relative;
	margin: 0px;
	margin-bottom: 15px;
	padding: 0;
	
}

#useMonthly_lbl {
	margin: 0px;
	margin-bottom: 10px;
	margin-right: 15px;
}

#useMonthly {
	display: inline-block;
	position: relative;
	float: left;
	margin: 15px;
	margin-top: 2px;
	margin-right: 10px;
	-ms-transform: scale(1.5); /* IE */
	-moz-transform: scale(1.5); /* FF */
	-webkit-transform: scale(1.5); /* Safari and Chrome */
	-o-transform: scale(1.5); /* Opera */
}

.rain_lbl {
	position: relative;
	float: right;
	top: 0px;
	right: 0px;
}

.rain_entry_wrapper {
	width: 95px;
	height: 30px;
}

#MonthlyUseDiv {
	display: none;
	margin-left: 10px;
	margin-right: 10px;
}

#monthly_use_cluster {
	position: relative; 
	display: inline-block;
	
}
.rain_column {
	position: relative; 
	display: inline-block; 
	float: left;
	margin-left: 35px;
	
}
label[name=rain_lbl] {
	margin: 0px;
}

#rain_column_1 {
	margin-left: 15px;
}

#rain_column_3 {
	margin-right: 15px;
}

.map_related_text {
	font-size: 18px;
}

#ps_note {
	margin-bottom: 140px;
}